<!DOCTYPE html>
<html>
<body>

<form action="/" method="post">
  URL:<br>
  <input type="text" name="url">
  <br>
  <input type="submit" value="Submit">
</form>

<h3>
If there are no subtitles set for the video, the automatic subtitle creation function will work, but do not expect a perfect translation!
</h3>

<h2>ubtitles-without-timestamps</h2>
<pre>{{ subtitles }}</pre>

<h2>subtitles-timestamps</h2>
<pre>{{ srt }}</pre>

{% if error %}
  <p>Error: {{ error }}</p>
{% endif %}

</body>
</html>